exportPattern("^[[:alpha:]]+")
S3method(print, mdn)
import("mediation")
importFrom("stats", "as.formula", "lm", "logLik", "pchisq", "qchisq","resid",
             "quantile", "update", "formula", "coef", "pnorm")
